{% extends "base.html" %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for item in news%}
                <div class="col-md6 border rounded">
                    <div class="col">
                        <div class="card shadow-sm">

                            <a href='recipe/{{item.id}}'><img class="card-img-top" src="https://avatars.mds.yandex.net/i?id=b75e339273d90bbabfa25f6bc6a4430c-5866055-images-thumbs&n=13&exp=1" alt="Card image cap"></a>
                                <div class="card-body">
                                <p class="card-text"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">{{item.title}}</font></font></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">Предложение</font></font>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">Изменить</font></font>
                                        </button>
                                    </div>
                                    <small class="text-muted"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">{{item.created_date}}</font></font></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}